:root {
    --border-style: solid 2px rgb(240, 133, 2)
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

body .parent-wrapper {
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border-style);
    box-sizing: border-box;
}

body .parent-wrapper h1,
body .parent-wrapper h2 {
    margin-bottom: 10px ;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 1.5rem;
    border: var(--border-style);
    text-align: center;
    flex: 0 1 auto;
}

body .parent-wrapper h2 {
    font-size: 2rem;
}

body .parent-wrapper .card-section-container {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
}


body .parent-wrapper .card-section-container .card {
    padding-top: 1rem;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

body .parent-wrapper .card-section-container .card .card-top-content {
    border: var(--border-style);
}

body .parent-wrapper .card-section-container .card .image {
    width: 27rem;
    height: 27rem;
}

body .parent-wrapper .card-section-container .card .hide-result-btn {
    width: 13rem;
    height: 3rem;
    margin: 2rem 0 2rem 0;
    background-color: rgb(128, 181, 250);
    color: #FFFFFF;
    border: none;
    font-size: 1.3rem;
}

body .parent-wrapper .card-section-container .card .card-bottom-content {
    width: 50%;
    height: 3rem;
    margin-top: 2rem;
    border: var(--border-style);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #000000;
    font-weight: 700;
}

